body{
  margin:0px;
  padding: 0px;
}

#summary-page.main-container {
  margin: 0 15px;
}
#summary-page .content-container {
    border: 1px solid #eee;
    background: #FDFDFD;
    overflow: hidden;
    clear: both;
}
#summary-page #details-grid {
    clear: both;
    position: relative;
}
#summary-page #details-grid.mytask {
  border-top: 3px solid #10528E;
}
#summary-page .sd-block {
    color: #fff;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right:10px;
}
#summary-page .sd-block.active {
  border-bottom: 6px solid #10528E;
}
#summary-page .complete.active {
  border-bottom: 6px solid #89B847;
}
#summary-page .summary.active {
  border-bottom: 6px solid #E67E3A;
}

#summary-page .sd-block-icon {
  background: #3D73A5;
  height: 84px;
  width: 50px;
  float: left;
  margin-left: 1px;
  text-align: center;
}
#summary-page .sd-block-content {
    width: 160px;
  background: #10528E;
    height: 40px;
    float: left;
    margin-bottom: 3px;
    padding: 22px;
}

#summary-page .complete .sd-block-content {
  background: #89B847;
}
#summary-page .complete .sd-block-icon {
  background: #9EC66B;
}
#summary-page .summary .sd-block-content {
  background: #E67E3A;
}
#summary-page .summary .sd-block-icon {
  background: #EB9658;
}

#summary-page .sbc-val {
  display: block;
  font-size: 16px;
}
#summary-page .sbc-type {
    color: #ccc;
}
#summary-page .sd-block-icon i {
    margin: 40px 0 0;
    font-size: 30px;
}
#summary-page .approval-buttons {
    float: right;
    margin: 10px;
    clear: both;
}
#summary-page .approval-buttons .app-button {
    border: 1px solid #ddd;
    color: #aaa;
    background: #ECECEC;
    display: inline-block;
}
#summary-page .approval-buttons .app-button .app-text {
  display: inline-block;
  margin: 4px;
  width: 60px;
  text-align: center;
}
#summary-page .approval-buttons .app-button .app-icon {
    background: #dcdcdc;
    padding: 5px 0;
    float: right;
    width: 25px;
    text-align: center;
}
#summary-page .approval-buttons.active .app-button {
  background: #E57F39;
  color: #fff;
  border: 1px solid #E67E3A;
  margin-left: 5px;
}
#summary-page .approval-buttons.active .app-button .app-icon {
  background: #EEEEED;
  color: #E67E3A;
}
#summary-page .approval-buttons.active .app-button.reject {
  background: #ED4630;
  border: 1px solid #ddd;
}
#summary-page .approval-buttons.active .app-button.reject .app-icon {
  color: #ED4630;
}
/* Checkboxes */
#summary-page .scheck {
  margin: 0;
}
#summary-page #details-grid.mytask .scheck {
  margin: 0 4px;
}

/* Grid Styles */

#details-grid .k-header {
  background: #d7e1ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #d7e1ff 0%, #b5d8f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7e1ff), color-stop(100%,#b5d8f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d7e1ff 0%,#b5d8f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d7e1ff 0%,#b5d8f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d7e1ff 0%,#b5d8f2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d7e1ff 0%,#b5d8f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e1ff', endColorstr='#b5d8f2',GradientType=0 ); /* IE6-9 */
  border-color: #fff;
}

#details-grid table {
  //border-collapse: collapse;
}
#details-grid .k-master-row {
  border: 1px solid #ccc;
}

#details-grid .k-header .k-link {
  color: #000;
}
#details-grid .k-state-selected {
  background: #F3FAFE;
  color: #000;
}
#details-grid .k-state-selected + .k-detail-row {
  background: #F3FAFE;
  color: #000;
}
#details-grid .k-grid tr td, #details-grid .k-pivot-layout .k-grid tr td {
  border-bottom: 1px solid #ccc;
}
#details-grid .k-master-row.k-state-selected td:first-child,
#details-grid .k-master-row.k-state-selected + .k-detail-row td:first-child {
    border-left: 3px solid #90D1F6;
}
#details-grid.mytask .k-master-row.k-state-selected td:nth-child(-n+2) {
  background: #90D1F6;
}
#details-grid.mytask th:nth-child(2), #details-grid.mytask .k-master-row td:nth-child(2) {
  text-align:center;
}
#details-grid.mytask .k-master-row.k-state-selected td:nth-child(3) {
  position: relative;
}
#details-grid.mytask .k-master-row.k-state-selected td:nth-child(3):after {
  content: "";
  position: absolute;
  background: #90D1F6;
  left: 1px;
  padding: 1px;
  width: 3px;
  height: 100%;
  top: 0;
}
#details-grid.mytask .amr,#details-grid.mytask .amr-checks {
    display: inline-block;
    padding: 4px 0;
}
#details-grid.mytask .amr span {
    padding: 2px 3px;
    background: #fff;
    color: #aaa;
    border: 1px solid #aaa;
    margin: 2px;
}
#details-grid .k-master-row td:first-child,
#details-grid .k-master-row + .k-detail-row td:first-child {
  border-left: 3px solid transparent;
}

#details-grid tr td {
  padding: 7px;
  background: #d7e1ff none repeat scroll 0 0
}
#details-grid .k-grid-content table tr td:nth-child(2) {
  text-align: right;
}

#details-grid .k-grid.k-widget{
  height: auto !important;
}
 
#details-grid .k-grid-header .k-pager-refresh {
  float: left;
  padding: 7px;
  opacity: 0.4;
}

#details-grid .k-pager-innerwrap {
  float:right;
  clear: both;
  /* width: 100%; */
}
#details-grid .k-pager-wrap .k-pager-nav {
   border: 1px solid #ccc;
   margin: 2px 4px;
   border-radius: 6px;
   padding-bottom: 2px;
   /* clear: both; */
}
#details-grid .k-pager-numbers {
  float: none;
}
#details-grid .k-pager-numbers li {
  display: none;
}

#details-grid .k-pager-numbers .k-current-page {
  display: inline-block;
}

#details-grid .k-current-page .k-pager-nav {
  min-width: 14px;
  min-height: 14px;
  height: 12px;
  line-height: 15px;
  position: relative;
  top: -2px;
  padding: 3px;
  background: #F47421;
  color: #fff;
  font-size: 12px;
  border: 0;
}
#details-grid .k-pager-info {
  padding: 2px 10px;
  border-left: 1px solid #d3d3d3;
  margin-left: 7px;
  background-image: url('Material/sprite.png')
}

#details-grid .k-icon.k-i-arrow-n {
  background-position: 3px 0px;
  float: right;
}

#details-grid .k-icon.k-i-arrow-s {
  background-position: 3px 2px;
  float: right;
}
#details-grid  .k-icon.k-plus {
    background-position: 0 -16px;
}

#details-grid  .k-icon.k-minus {
    background-position: 0 -32px;
}
#details-grid .k-grid .active {
  background: #C2E0FB;
}
#details-grid .k-detail-cell .k-header {
  background: none;
}
#details-grid .subGridMenu li.k-state-default{
    background: #FBFCF9;
    border: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: -1px;
}
#details-grid .subGridMenu {
  border-bottom: 1px solid #ccc;
}
#details-grid .subGridMenu li.k-state-active {
    border-left: 3px solid orange;
    border-bottom: 1px solid #FBFCF9;
}

#summary-page .page-title {
    display: inline-block;
    float: left;
}

#summary-page .amr-block {
    float: right;
    margin-top:5px;
}

#summary-page .amr-block li {
    display: inline-block;
    margin: 10px;
    color: #aaa;
}

#summary-page .amr-block .amr-icon {
    border: 1px solid #ccc;
    padding: 0px 3px;
}

#summary-page .k-grid-header th.k-header .k-icon.k-filter {
  background-position: 0 -35px;
}

.k-widget.k-tooltip {
    color: #000;
    background: #fff;
    position: relative;
    border: 0;
}
.k-tooltip .k-callout-s {
  padding: 1px;
  border-top-color: #fff;
}
.sm-overlay {    
    width: 100%;
    height: 100%;
    position: fixed;
    background: #2C82C6;
    left: 0;
    top: 0;
    z-index: 9998;
    opacity: 0.5;
    display: none;
}
.sum-lightbox.commentbox {
    position: absolute;
    top: 50%;
    left: 37%;
    background-color: #F9F9F9;
    z-index: 9999;
    width: 360px;
    display:none;
}

.sum-lightbox .header {
    background: #2B82C7;
    float: left;
    width: 100%;
}

.sum-lightbox .header h2 {
    padding: 5px 12px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    line-height: 11px;
}
.sum-lightbox .content {
    padding: 10px 15px 15px;
    clear: both;
    overflow: hidden;
}

.sum-lightbox i {
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

.sum-lightbox textarea {
    width: 95%;
    resize: none;
    border-left: 4px solid #5886BD;
    border-radius: 0;
    height: 65px;
}

.sum-lightbox .char-len {
    font-size: 10px;
    line-height: 10px;
    color: #aaa;
}

.sum-lightbox .buttons {
    float: right;
}

.sum-lightbox .buttons button {
    border-radius: 4px;
    background: #ccc;
    border: 1px solid #aaa;
    margin-left: 7px;
    padding: 2px 10px;
    font-size: 12px;
}

.sum-lightbox .buttons button.active {
    color: #fff;
    background: #DF7F3A;
    border-color: #DF7F3A;
}


#details-grid.mytask .summaryCont, #details-grid.summary .mytaskCont  {
  display: none;
}
#details-grid.summary .k-master-row .k-hierarchy-cell .k-icon {
  display: none;
}
#details-grid .progress-level {
    float: left;
    text-align: center;
    width: 25%;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    opacity: 0.99;
}

#details-grid .progress-level .progress-icon {
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    color: #99C9F8;
    border: 1px solid #ccc;
}

#details-grid .progress-level-bar {
    width: 80%;
    float: left;
}
#details-grid .status {
    width: 10%;
    float: right;
    text-align: center;
    border-left: 1px solid #efefef;
}

#details-grid .status .completeMsg {
    display: none;
}
#details-grid .k-state-selected + .k-detail-row .status {
  border-left: 0;
}
#details-grid .status .ipText {
    margin: 10px 0 0;
}

#details-grid .status .ipStatus {
    font-weight: bold;
    color: green;
}
#details-grid .status.complete .completeMsg {
    display: block;
    color: #fff;
    background: green;
}

#details-grid .status.complete .completeMsg .ipStatus {
    color: #fff;
    font-weight: normal;
    padding-bottom: 12px;
    margin: 0;
}

#details-grid .status.complete .completeMsg .fa {
    font-size: 20px;
    margin-top: 10px;
}

#details-grid .status.complete .inProgressMsg {
    display: none;
}

#details-grid .progress-level.done .progress-icon {
    background: green;
    border-color: green;
    color: #fff;
}

#details-grid .k-grid-header .k-header-column-menu .k-i-arrowhead-s {
  background-position: 0 -35px;
}
#details-grid .progress-pipe {
    width: 96%;
    height: 10px;
    right: 49%;
    top: 7px;
    z-index: -1;
    position: absolute;
    border: 1px solid #ccc;
    border-left: transparent;
}
#details-grid .progress-level.done {
    color: green;
}

#details-grid .progress-level.done.now {
    font-weight: bold;
}
#details-grid .k-state-selected + .k-detail-row .progress-level.done .progress-icon {
    background: #0F4D8D;
    border-color: #0F4D8D;
}
#details-grid .k-state-selected + .k-detail-row .progress-level.done {
    color: #0F4D8D;
}
#details-grid .done .progress-pipe {
    background: green;
    border-color: green;
    right: 50%;
}
#details-grid .k-menu .k-animation-container .k-menu-group {
    padding: 0;
}
#details-grid .k-state-selected + .k-detail-row .done .progress-pipe {
    background: #0F4D8D;
    border-color: #0F4D8D;
}
.summary .k-pager-wrap {
  display: none;
}
.k-animation-container .k-popup {
    border-width: 0
}
#details-grid .attribute-item {
   display: inline-block;
   width: 30%;
   margin: 10px;
}
#details-grid .header-filter {
    background-color: #e5e5e5;
    height: 27px;
    padding: 10px 5px;
}
#details-grid .filterBy {
    float: left;
    margin-top: 3px;
}
#details-grid .filterBy span {
    float: left;
}
#details-grid .filterBy > ul > li {
    float: left;
    list-style: none;
    margin: 0 15px;
    font-weight: bold;
}

#details-grid .filterBy ul {
    display: inline;
}

#details-grid .selectFiltered {
    float: right;
}

#details-grid .selectFiltered .amr-cont {
    display: inline-block;
}
#details-grid .k-widget.k-header:after {
    content: "a";
    position: absolute;
    top: -15px;
    left: 10px;
    background: #fff;
}

#details-grid .col2{
    padding-right: 160px;
}

#details-grid .individual-group{
    float: left;
}
#details-grid .col3, #details-grid .col4 , #details-grid .col5 , #details-grid .col6 , #details-grid .col7{
  padding-right: 100px;
}
#details-grid .col4{
  padding-right: 100px;
}
#details-grid .col5{
   padding-right: 170px;
}
#details-grid .col6{
  padding-right: 150px;
}
#details-grid .cross-mark{
  color: red;
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
  }

#details-grid .group-details{
  float: right;
    width: 80%;
    margin-bottom: 10px;
}
#details-grid .fineline-details{
  border-top: 2px solid grey;
    float: right;
    padding-top: 10px;
    width: 80%;
}
#details-grid .fineline-details .heading {
    background: white none repeat scroll 0 0;
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding: 5px 10px;
}

#details-grid .fineline-details .more-details{
  background-color: #ccc;
  border-left: 5px solid blue;
  padding: 5px 5px 5px 45%;
}

#details-grid .fineline-details .dropdown select {
    height: 20px;
}

#details-grid .fineline-details .dropdown{
    background: white none repeat scroll 0 0;
    border-top: 1px solid #ccc;
    padding: 5px;
    border-left: 5px solid blue;
}

#details-grid .fineline-details .dropdown span {
    padding-right:10px;
}

#details-grid .fineline-details .show-more-details{
  cursor: pointer;
}
